@import "base";

#agenda {
  .title {
    background-image: linear-gradient(to right, $agenda-color, darken($agenda-color, 8%));
  }
  .data {
    table {
      tr {
        td {
          &:nth-child(1) {
            width: 100%;
          }

          &:nth-child(2) {
            width: 25%;
          }

          &:nth-child(3) {
            width: 25%
          }

        }
      }

      thead, tbody {
        &::-webkit-scrollbar-thumb {
          background: $theme-main-color;
        }
      }


      thead {
        scrollbar-color: $agenda-color transparent;
        &::-webkit-scrollbar-thumb {
          background: $agenda-color;
        }
        tr {
          td {
            p {
              color: $agenda-color;
            }
          }
        }
      }

      tbody {
        scrollbar-color: $agenda-color transparent;
        &::-webkit-scrollbar-thumb {
          background: $agenda-color;
        }
        .selected {
          background-color: lighten($agenda-color, 32%);
        }
        tr {
          &:hover {
            background-color: lighten($agenda-color, 34%);
          }

          td {
            &:first-child {
              p {
                small {
                  font-family: $font-bold;
                }
              }
            }
          }
        }
      }
    }
  }
}

#calendar {
  .fc-prev-button, .fc-next-button, .fc-button-primary {
    background-color: $agenda-color;
    border: 2px solid darken($agenda-color, 2%);
  }

  .fc-button-primary {
    padding: 2px 6px 4px 6px;
    font-size: 1.8vh;
    .fc-icon {
    }
  }

  .fc-toolbar h2 {
    font-size: 1.4em;
    color: $agenda-color;

    font-family: $font-bold;
  }

  .fc-day-header {
    font-size: 0.9em;
    font-family: $font-regular;
  }

  .fc-button-group .fc-icon {
    color: white;
  }
}

